@using Microsoft.AspNet.Identity
@model ProjectManagerApp.Models.Project

@{
    ViewBag.Title = "Logshistory";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datetimepicker")

<h2>Logs History</h2>
<div class="menu row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownListFor(model => model.Id, new SelectList(ViewBag.Projects, "id", "Name"), "Select Project", new {@class = "form-control", id = "dropdown"})

        </div>
    </div>
    <div class="col-md-2">
        
            Search According to date
        
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <div class="input-group date" id='datetimepicker'>
                <input type='text' class="form-control" id="logdate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        
    </div>
</div>
<div id="logshistory">
    <table></table>
</div>


<script>

    $(document).ready(function () {
        $('#datetimepicker').datetimepicker({
            format: 'M/D'
        });
    });


    //Get loghistory from database according to developerid

    $(document).ready(function() {
      var developerid=@HttpContext.Current.User.Identity.GetUserId();
        $.ajax({
            type: "GET",
            url: "/API/Log/GetLogsHistory",
         //  data: {DeveloperId:developerid},
            data:'{"DeveloperId":' + JSON.stringify(developerid) + '}',
            dataType: "json",
           // contentType: "application/json;charset=utf-8",
            sucess: function(data) {
            console.log(data);

                //$.getJSON(url, function(response) {

                    //$.each(data, function(key, val) {

                    //    var report = '<tr>' +
                    //        '<td>' + val.Description + '</td>' +
                    //        '<td>' + val.ProjectId + '</td>' +
                    //        '<td>' + val.Duration + '</td>' +
                    //        '<td>' + val.WorkStartTime + '</td>' +
                    //        '<td>' + val.WorkEndTime + '</td>' +
                    //        '<td>' + val.Date + '</td>' +
                    //        '</tr>';

                    //    $('#loghistory table').append(report);
                    //});
                //});
                alert("Successfully");
            },
            error: function() {
                   alert("Failed!Please try again.");


                //alert(xhr.status+ajaxOptions+thrownError);
               
            }

        });

    });

</script>