@using Microsoft.AspNet.Identity
@model ProjectManagerApp.Models.Project
@{
    ViewBag.Title = "Logshistory";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datetimepicker")

<h2>Logs History</h2>
<div class="menu row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.DropDownListFor(model => model.Id, new SelectList(ViewBag.Projects, "id", "Name"), "Select Project", new {@class = "form-control", id = "dropdown"})

        </div>
    </div>
    <div class="col-md-2">
        
            Search According to date
        
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <div class="input-group date" id='datetimepicker' onclick="loadhistory();">
                <input type='text' class="form-control" id='logdate' />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        
    </div>
</div>
<div id="logshistory">
    <h2>LogHistory According to Developer</h2>
    <table class="logtable"></table>
    <h2>Log History according to Date</h2>
    <table class="logtable1"></table>

</div>


<script>

    $(document).ready(function() {
        $('#datetimepicker').datetimepicker({
            format: 'M/D'
        });
    });


    //Get loghistory from database according to developerid

    $(document).ready(function() {
        var did = @HttpContext.Current.User.Identity.GetUserId();
        var url = '/API/Log/GetLogsHistory';
        $.get(url, { id: did }, function(data) {

            var report = "";
            var len = data.length;
            for (var i = 0; i < len; i++) {
                report += '<tr>' +
                    '<td>' + data[i].Description + '</td>' +
                    '<td>' + data[i].ProjectId + '</td>' +
                    '<td>' + data[i].Duration + '</td>' +
                    '<td>' + data[i].WorkStartTime + '</td>' +
                    '<td>' + data[i].WorkEndTime + '</td>' +
                    '<td>' + data[i].Date + '</td>' +
                    '</tr>';
            }

            if (report != "") {
                $('#logshistory .logtable').append(report);
            }

            //console.log("success");
        });


        //function loadhistory() {
            var logdate = $('#logdate').val();
           // alert(logdate);
            var url = '/API/Log/GetLogsHistoryAcDate';
            $.get(url, { date:"12/8"},function(data) {
                console.log(data);
                var len = data.length; 
                var report = "";

                for(var i=0;i<len;i++) {
                    report += '<tr>' +
                       '<td>' + data[i].Description + '</td>' +
                       '<td>' + data[i].ProjectId + '</td>' +
                       '<td>' + data[i].Duration + '</td>' +
                       '<td>' + data[i].WorkStartTime + '</td>' +
                       '<td>' + data[i].WorkEndTime + '</td>' +
                       '<td>' + data[i].Date + '</td>' +
                       '</tr>';
               
                }
                if (report != "") {
                    $('#logshistory').find('.logtable1').append(report);
                }
               
            
                console.log("success");
            });
        //}

    });

    // Get loghistory according to date
    //date:"12/8"

    function loadhistory() {
        var logdate = $('#logdate').val();
        alert(logdate);
        var url = '/API/Log/GetLogsHistoryAcDate';
        $.get(url, { date:logdate},function(data) {
            console.log(data);
            var len = data.length; 
            var report = "";

            for(var i=0;i<len;i++) {
                 report += '<tr>' +
                    '<td>' + data[i].Description + '</td>' +
                    '<td>' + data[i].ProjectId + '</td>' +
                    '<td>' + data[i].Duration + '</td>' +
                    '<td>' + data[i].WorkStartTime + '</td>' +
                    '<td>' + data[i].WorkEndTime + '</td>' +
                    '<td>' + data[i].Date + '</td>' +
                    '</tr>';
               
            }
            if (report != "") {
                $('#logshistory .logtable1').append(report);
            }
               
            
            console.log("success");
        });
    }

</script>

<style>
    .logtable,.logtable1 {
    border: 1px solid #666;   
    width: 100%;
}
td {
  background: #f8f8f8; 
  font-weight: bold;    
    padding: 2px;
}

</style>
