@model ProjectManagerApp.Areas.Admin.Models.AspNetUserRole

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="partialview">
    @Html.Partial("_UpdateAspNetUserRoles")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
