@model ProjectManagerApp.Areas.Admin.Models.AspNetUserRole

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="partialview">
    @Html.Partial("_UpdateAspNetUserRoles")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
