@model IEnumerable<ProjectManagerApp.Areas.Admin.Models.AspNetUserRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="partialview">
    @Html.Partial("_AspNetUserRolesList")
</div>

