@model ProjectManagerApp.Areas.Admin.Models.Log


@{
    ViewBag.Title = "Edit";
} 


<br />


<h2>Log Edit</h2>

<div class="partialview">
    @Html.Partial("_UpdateLog")
</div>

<div>  @Html.ActionLink("Back to List", "Index")</div>

<script>
    $('#dropdown').attr("disabled", "disabled").parent().addClass("state-disabled");

   
   

</script>