@model IEnumerable<ProjectManagerApp.Areas.Admin.Models.Log>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-6">
        <p>@Html.ActionLink("Create New", "Create") </p>
    </div>
    <div class="col-md-1">
     
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <p>Filter By</p>
    </div>
    <div class="col-md-2">

        @using (Ajax.BeginForm("GetLogResultSheetByProject", "Logs", new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "tblLogsList",
            LoadingElementId = "divLoader"
        }))

        {
            <div class="form-group">
                @Html.DropDownList("filterBy", new SelectList(ViewBag.Projects, "id", "Name"), "Select Project", new { @class = "form-control", onchange = "$(this.form).submit();" })

            </div>

        }
    </div>


    @*<div id="divLoader" style="display:none; position:absolute;">
        Loading.....<img src="~/Images/ajax-loader.gif" />
    </div>*@
</div>

<div id="tblLogsList">

    @Html.Partial("_LogList")
   
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

