@model ProjectManagerApp.Models.RegisterViewModel


@{
    ViewBag.Title = "Edit";
}

<h2>User Edit</h2>

<br />

<div class="partialview">
    @Html.Partial("_UpdateAspNetUsers")
</div>


<div>
    @Html.ActionLink(" ", "Index", new { controller = "AspNetUsers" }, new { @class = "fa fa-backward", title = "Back to List" }) 
</div>

<script>
    $("#UserName,#Email").attr("disabled", "disabled").parent().addClass("state-disabled");
</script>
