@model ProjectManagerApp.Models.DAL.Output.ProjectsDeveloperFilterResult

@using ProjectManagerApp.Areas.Admin.DAL



@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<br />
<div class="partialview">
    @Html.Partial("_UpdateProjectsDevelopers")
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

