@model ProjectManagerApp.Areas.Admin.Models.ProjectsDeveloper

@using ProjectManagerApp.Areas.Admin.DAL
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<br />
<div class="partialview">
    @Html.Partial("_UpdateProjectsDevelopers")
</div>
<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
