@model ProjectManagerApp.Areas.Admin.Models.AspNetRole

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div class="partialview">
    @Html.Partial("_UpdateAspNetRoles")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
